.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    
}
  .solidColorNavBar {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 0) 100%);
  }
  .bluredNavBar{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0.1) 100%);
  }
  .navButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: white;
    padding: 10;
  }
  .navBarContents{
    display:  flex;
    align-items: center;
    justify-content: space-between;
  }

  .navBarContents-left{
    display: flex;
    gap: 5;
    align-items: center;
  }

  .navBarContents-right{
    display: flex;
    align-items: center;
  }
  
  .title {
    font-size: 22px;
    color: white;
  }

  .navbarTitleDisplay{
    display: block;
  }

  .navIcons{
    width: 20px;
    height: 20px;
   }


@media (max-width: 550px) {
  .navbarTitleDisplay {
      display: none;
    }
    .navBarContents-toggleView{
      flex: 1;
    }

}